  body {
      background-color: #141117;
      color: white;
  }

  .m3-card2 {
      background-color: #302b3b;
      color: #c8b2ff;
  }

  .timer-display {
      color: #65558f;
  }

  .nav-bar {
      background-color: #221e26;
  }

  .nav-bar-label {
      color: #c9c3cf;
  }

  .nav-bar-image:hover {
      background-color: #494257;
  }

  .nav-bar-image-choosed {
      background-color: #494257 !important;
  }

  .timer-default {
      color: #E6E0E9;
  }

  /* Jasny kolor dla ciemnego tła */
  .timer-ready {
      color: #66BB6A;
  }

  /* Jaśniejszy zielony */
  .timer-holding {
      color: #EF5350;
  }

  /* Jaśniejszy czerwony */
  .notification {
      background-color: #494257e9;
      border: 1px solid #65558f;
      color: #c9c3cf;
  }

  .spiner-part1 {
      background-color: #494257;
      color: #c9c3cf;
  }

  .spiner-part2 {
      background-color: #494257;
      color: #c9c3cf;
  }

  .options-bar {
      background-color: #494257;
  }

  .options-bar-icon {
      background-color: #65558f;
  }

  .options-bar-icon.active {
      background-color: #87749b;
      /* Jaśniejszy fiolet dla zaznaczenia */
  }

  .stats-trigger {
      background-color: #494257;
      color: #c9c3cf;
  }

  .bluetooth-button {
      background-color: #494257;
      color: #c9c3cf;
  }

  .last-time {
      color: #c9c3cf;

  }

  .drawer-box {
      background-color: #1e1b24;
      color: #c8b2ff;
      box-shadow: 0 4px 10px #474747a7
  }

  .list-page-spinner {
      background-color: #65558f;
      color: #c9c3cf;
  }

  .time-box {
      background-color: #494257;
      color: #c9c3cf;
  }

  .time-details-box {
      background-color: #1e1b24;
      color: #c8b2ff;
      box-shadow: 0 4px 10px #474747a7
  }

  .rows-box {
      background-color: #3a3643;
      color: #c8b2ff;
  }

  .rows-hr {
      margin: 20px 0;
      background-color: #65558f !important;
      border: none;
      height: 2px;

  }